/* CircularStd @font-face kit */
@font-face {
  font-family: 'CircularStd-Black';
  src: url('CircularStd-Black.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'CircularStd-BoldItalic';
  src: url('CircularStd-BlackItalic.woff2') format('woff2');
  font-weight: 800;
  font-style: italic;
}
@font-face {
  font-family: 'CircularStd-Bold';
  src: url('CircularStd-Bold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'CircularStd-BoldItalic';
  src: url('CircularStd-BoldItalic.woff2') format('woff2');
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: 'CircularStd-Medium';
  src: url('CircularStd-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'CircularStd-MediumItalic';
  src: url('CircularStd-MediumItalic.woff2') format('woff2');
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: 'CircularStd-Book';
  src: url('CircularStd-Book.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'CircularStd-BookItalic';
  src: url('CircularStd-BookItalic.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
}
